@font-face {
    font-family: 'IranSans';
    src: url(../fonts/IranSans.woff) format("woff");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0600-U+06FF;  /* For Persian character range */
}
body {
    font-family: 'IranSans' !important;
    direction: rtl;
    background: #DFDFDF;
}
input, textarea {
    background: #FFFFFF;
    color: #12123F !important;
}
button {
    font-size: 15px;
    background: #12123F;
    color: #FEFEFE;
    border: 1px solid #12123F;
    box-shadow: 0 8px rgba(0, 0, 0, 0.4);
}
button:hover {
    background: #FEFEFE;
    color: #12123F;
    transition: 200ms;
}
button:active {
    background: #FEFEFE;
    color: #12123F;
    box-shadow: 0 8px rgba(0, 0, 0, 0.7);
    transform: translateY(8px);
    transition: 150ms;
}
.navbar {
    margin-bottom: 0;
    background: #FFFFFF;
    border: 1px solid #12123F;
}
#app-navbar-collapse li a {
    color: #12123F;
}
.navbar-brand {
    color: #12123F !important;
}
.navbar-brand:hover {
    background: #12123F !important;
    color: #FEFEFE !important;
    transition: 200ms;
}
.nav li a:hover {
    background: #12123F !important;
    color: #FEFEFE !important;
    transition: 200ms;
}
.search-form {
    position: relative;
    padding-top: 8px;
    margin-right: 10px;
}
.search-form input::-moz-placeholder {
    color: #12123F;
}
.btn-outline-success {
    background: #FFFFFF;
    border:2px solid #DDDDDD;
    position: absolute;
    top: 16%;
    left: 0;
}
.fa-search {
    color: #12123F;
}
#start {
    width: 100%;
    height: 570px;
    background: url("../images/test.png") no-repeat center fixed;
    background-size: cover;
}
.start-btn {
    background: #FEFEFE !important;
    color: #12123F !important;
    font-size: 50px;
    padding: 50px;
    border: 2px solid #12123F;
    border-radius: 50%;
    position: absolute;
    top: 38%;
    left: 43%;
    box-shadow: 0 8px rgba(0, 0, 0, 0.4);
}
.start-btn:hover {
    color: #FEFEFE !important;
    background: #23234F !important;
    transition: 150ms;
}
.start-btn:active {
    background: #23234F;
    box-shadow: 0 8px rgba(0, 0, 0, 0.9);
    transform: translateY(8px);
    transition: 150ms;
}
div#start-exam {
    position: absolute;
    top: 50%;
    left: 42%;
    text-align: center;
}
button#start-exam-btn, .question-form-buttons button {
    font-size: 20px;
    padding: 10px;
    border-radius: 5%;
    margin: 2% 1%;
    background: #12123F !important;
    color: #FEFEFE !important;
    border: 1px solid #12123F !important;
}
.question-form-buttons button {
    font-size: 16px;
}
button#start-exam-btn:hover, .question-form-buttons button:hover, #selected_answer-btn:hover, #next-question button:hover, .modal-footer button:hover {
    background: #FEFEFE !important;
    color: #12123F !important;
    transition: 200ms;
}
button#start-exam-btn:active, .question-form-buttons button:active, #selected_answer-btn:active, #next-question button:active, .modal-footer button:active {
    background: #FEFEFE !important;
    color: #12123F !important;
    transition: 200ms;
}
#next-question {
    height: 30px;
    margin: 2%;
}
#next-question button {
    font-size: 16px;
    background: #12123F;
    color: #FEFEFE;
}
#next-question-btn {
    float: right;
    margin-right: 0;
}
#finish-exam-btn {
    float: left;
    margin-left: -2%;
}
.modal-close {
    position: fixed;
    top: 8px;
    right: 2%;
    background: #12123F !important;
    color: #FEFEFE !important;
    cursor: pointer;
    opacity: 1;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px rgba(0, 0, 0, 0.4);
}
.modal-close:active {
    box-shadow: 0 2px rgba(0, 0, 0, 0.7);
}
.modal-close:focus, .modal-close:hover {
    outline: none;
    background: #FEFEFE !important;
}
.modal-close:focus:before, .modal-close:focus:after, .modal-close:hover:before, .modal-close:hover:after {
    background: #12123F;
}
.modal-close span {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.modal-close:before, .modal-close:after {
    background: #FEFEFE;
    display: block;
    content: " ";
    position: absolute;
    top: 20%;
    left: 47%;
    width: 4px;
    height: 22px;
    border-radius: 4px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -ms-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}
.modal-close:before {
    transform: rotate(-45deg);
}
.modal-close:after {
    transform: rotate(45deg);
}
.modal-title {
    text-align: center;
    color: #12123F;
}
.modal-dialog {
    margin-top: 60px;
}
.modal-footer button {
    font-size: 18px;
    background: #12123F;
    color: #FEFEFE;
    margin: 6px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}
.modal-footer button:active {
    box-shadow: 0 5px rgba(0, 0, 0, 0.9);
    transform: translateY(5px);
    transition: 150ms;
}
.panel {
    margin-top: 5%;
}
.panel li {
    float: right;
}
.panel-heading {
    background: #12123F !important;
    color: #FEFEFE !important;
}
.panel-body {
    background: #FEFEFE;
    border-bottom: 2px solid #12123F;
    text-align: justify;
}
.signup-panel, .login-panel {
    margin: 5% 0 15% 0;
}
#signup-form label {
    line-height: 29px;
}
.control-label {
    padding-top: 0 !important;
    color: #12123F;
}
.remember-me {
    padding-right: 20px;
    color: #12123F;
}
.form-group input::-moz-placeholder, textarea::-moz-placeholder {
    color: #12123F !important;
}
.margin-top-bottom {
    margin: 2% 0 0 0;
}
.margin-bottom {
    margin-top: 0;
    margin-bottom: 10%;
}
.examiner-form .qnum {
    font-size: 16px;
    padding: 1% 0;
    text-align: left;
}
.question-number-label {
    font-size: 18px;
    position: absolute;
    top: 27px;
    left: 0;
}
.send-question {
    text-align: left;
}
.send-question > button {
    font-size: 16px;
    margin: 2% 1%;
    background: #12123F;
    color: #FEFEFE !important;
    border: 1px solid #12123F;
    box-shadow: 0 8px rgba(0, 0, 0, 0.4);
}
.send-question > button:hover {
    background: #FEFEFE;
    color: #12123F !important;
    transition: 200ms;
}
.send-question > button:active {
    background: #FEFEFE;
    color: #12123F !important;
    box-shadow: 0 8px rgba(0, 0, 0, 0.7);
    transform: translateY(8px);
    transition: 150ms;
}
.toast-message {
    font-size: 19px;
}
.toast-close-button {
    background: none !important;
    color: #FFFFFF !important;
    box-shadow: none;
}
.toast-close-button:hover {
    background: none !important;
    color: #FFFFFF !important;
    box-shadow: none;
}
.toast-close-button:active {
    background: none !important;
    color: #FFFFFF !important;
    box-shadow: none;
}
#questions-show .question-text {
    font-weight: bold;
    margin: 2% 0;
    border: 2px solid #AFDCF8;
    padding: 2%;
    border-radius: 2%;
}
#questions-show .form-group {
    text-align: center;
    margin-bottom: 0 !important;
}
#questions-show .form-group > button#selected_answer-btn {
    font-size: 16px;
    border-radius: 5%;
    background: #12123F !important;
    color: #FEFEFE !important;
    border: 1px solid #12123F !important;
    margin-top: 2% !important;
    margin-bottom: 0 !important;
}
#questions-show .form-group > button:hover {
    background: #FEFEFE !important;
    color: #12123F !important;
    transition: 200ms;
}
#questions-show .form-group > button:active {
    background: #FEFEFE !important;
    color: #12123F !important;
    transition: 200ms;
}
#questions-show .alert {
    font-size: 16px;
    font-weight: bold;
}
#questions-show .alert-success {
    border: 2px solid #3C763D;
}
#questions-show .alert-danger {
    border: 2px solid #BC6767;
}
#questions-show .alert-warning {
    border: 2px solid #B87A00;
}
.question-options {
    list-style: none;
    padding-right: 2%;
}
.question-options li {
    font-size: 15px;
    padding: 2%;
    margin: 1% 0;
    border: 2px solid #EFEFEF;
    border-radius: 2%;
}
#special-features {
    position: fixed;
    top: 7%;
    right: 0;
}
#options {
    font-size:15px;
    float: right;
    clear: both;
    width: 100%;
    margin: 10% auto;
    background: #FEFEFE;
    box-shadow:5px 5px 10px;
}
#options ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#options li {
    float: none;
    width: 100%;
}
#options li a {
    display: block;
    width: 100%;
    padding: 15px;
    border:1px solid #EEEEEE;
    position: relative;
    z-index: 2;
    text-decoration: none;
    color: #12123F;
    box-sizing: border-box;
}
#options li a:hover { border-bottom: 0px; color: #fff; }
#options li:first-child a { border-right: 10px solid #3498db; }
#options li:nth-child(2) a { border-right: 10px solid #ffd071; }
#options li:nth-child(3) a { border-right: 10px solid #f0776c; }
#options li:last-child a { border-right: 10px solid #1abc9c; }
#options li a:after {
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    width: 0px;
    position: absolute;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    z-index: -1;
}
#options li a:hover:after { width: 100%; }
#options li:first-child a:after { background: #1C699C; }
#options li:nth-child(2) a:after { background: #B87A00; }
#options li:nth-child(3) a:after { background: #FF311F; }
#options li:last-child a:after { background: #149077; }
#clockdiv li > time > span {
    display: block;
    width: 25%;
    background: #AFDCF8;
    text-align: center;
    padding: 8px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}
.smalltext{
    padding-top: 5px;
    font-family: 'IranSans';
    font-size: 14px;
    float: right;
    color: #4CAF50;
}
.error-page {
    color: #BC6767;
    text-align: center;
    margin: 15% 0;
}
.tooltip > .tooltip-inner {
    font-family: 'IranSans';
    font-size: 15px;
    background-color: #12123F;
    color: #FEFEFE;
    border: 2px solid #4CAF50;
    border-radius: 50%;
    padding: 8px;
}
.tooltip.top > .tooltip-arrow {
    border-top: 6px solid #4CAF50;
}
.footer-fluid {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #12123F;
    padding: 10px;
    position: fixed;
    bottom: 0;
}
.footer-text {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #12123F;
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .search-form {
        position: absolute;
        top: 0;
        right: 40%;
    }
}
@media (max-width: 1020px) and (min-width: 992px) {
    #questions-show .main {
        max-width: 87%;
    }
}
@media (max-width: 820px) and (min-width: 768px) {
    #questions-show .main {
        max-width: 82%;
    }
}
@media (max-width: 768px) and (min-width: 700px){
    #questions-show .main {
        max-width: 79%;
    }
}
@media (max-width: 700px) and (min-width: 600px){
    #questions-show .main {
        max-width: 75%;
    }
}
.main {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 1.875em 3.125em 1.875em;
}
.cbp_tmtimeline {
    margin: 30px 0 0 0;
    padding: 0;
    list-style: none;
    position: relative;
}
.cbp_tmtimeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #afdcf8;
    left: 20%;
    margin-left: -10px;
}
.cbp_tmtimeline > li {
    position: relative;
}
.cbp_tmtimeline > li .cbp_tmtime {
    display: block;
    width: 25%;
    position: absolute;
    top: 0;
    left: -10%;
}
.cbp_tmtimeline > li .cbp_tmtime span {
    display: block;
    text-align: right;
    font-size: 30px;
    color: #BC6767;
}
.cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 15px 25%;
    background: #12123F;
    color: #FEFEFE;
    padding: 2em;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    position: relative;
    border: 1px solid #4CAF50;
    border-radius: 5px;
}
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
    background: #FEFEFE;
    color: #12123F;
}
.cbp_tmtimeline > li .cbp_tmlabel .question-text {
    font-size: 15px;
    margin-top: 0px;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}
.cbp_tmtimeline > li .cbp_tmlabel:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #4CAF50;
    border-width: 10px;
    top: 10px;
}
.cbp_tmtimeline > li .cbp_tmicon {
    width: 40px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 26px;
    line-height: 40px;
    position: absolute;
    color: #FEFEFE;
    background: #248298;
    border-radius: 50%;
    box-shadow: 0 0 0 8px #afdcf8;
    text-align: center;
    left: 20%;
    top: 0;
    margin: 0 0 0 -25px;
}
@media screen and (max-width: 65.375em) {
    .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 1.5em;
    }
}
@media screen and (max-width: 47.2em) {
    .cbp_tmtimeline:before {
        display: none;
    }
    .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
    }
    .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
    }
    .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
    }
    .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #4CAF50;
        top: -20px;
    }
    .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #4CAF50;
    }
    .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
    }
}
